<div id="<%= dom_id notification %>">
  <p>
    <strong>Title:</strong>
    <%= notification.title %>
  </p>

  <p>
    Send <%= time_tag notification.created_at, "data-local":"time-ago" %>
  </p>

  


  <p>
    <strong>Description:</strong>
    <%= notification.description %>
  </p>

</div>
