<p style="color: green"><%= notice %></p>
<h1>Notification Center</h1>

<div id="notifications">
  <table>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>When</th>
    </tr>
  <% @notifications.each do |notification| %>
    <tr>
      <%= render notification %>
      <td>
        <%= link_to "Open", notification %>
      </td>
    </tr>
  <% end %>
  <table>
</div>

<%= link_to "New notification", new_notification_path %>
