<% if current_user.is_admin %>
  <%= button_to "New notification", new_notification_path, :method => :get, form: {style: 'display:inline-block;'} %>
<% end %>

<h1>Inbox</h1>
<%= render :partial => 'notification_table', locals: {notifications: @notifications_received} %>

<% if current_user.is_admin %>
<h1>Sent</h1>
<%= render :partial => 'notification_table', locals: {notifications: @notifications_sent} %>
<% end %>
